* {
	margin: 0px;
	padding: 0px;
}



a {
	text-decoration: none;
}

li {
	list-style: none;
}

body {
	font-family: 'OpenSans' sans-serif;
}

header {
	width: 100%;
	background: #000;
	display: flex;
}

.header_logo {
	text-transform: uppercase;
	color: #fff;
	font-weight: 800;
	font-size: 24px;
	cursor: pointer;
	margin-top: 56px;
	margin-left: 12%;
}